<section class="o-grid-container border">
  <div class="o-grid-row" data-o-grid-colspan="10 center"></div>
    <header id="uh-oh">
      <h1>Uh oh, there's been an error.</h1>
    </header>
  </div>
  <div class="o-grid-row" data-o-grid-colspan="10 center" id="error-message">
    <p>Unfortunately, {{errorMessage}}</p>
    <br>
    <p>Click <a href="/" alt="Link to the homepage">here</a> to head back home.</p>
  </div>
</section>