<section id="errorpage">
  <header>
    <h1>Uh oh, there's been an error.</h1>
  </header>
  <div>
    <p>Unfortunately, {{errorMessage}}</p>
    <br>
    <p>Click <a href="/" alt="Link to the homepmage">here</a> to head back home.</p>
  </div>
</section>