<section id="homepage">
  <header>
    <h1>Weather app</h1>
  </header>
  <div class="weather-container">
    <div><p>Weather to go here</p></div>
    <form>
      <label for="city-input"></label>
      <input type="text">
    </form>
  </div>
</section>