<section class="o-grid-container">
  <div class="o-grid-row" data-o-grid-colspan="10 center">
    <header class="three-em-div">
      <h1>Hold tight! Getting your weather now...</h1>
    </header>
  </div>
</section>