<section class="flex-container-column flex-space-around" id="main-content">
  <header>
    <h1>Weather app</h1>
  </header>
  <form action='/' method='POST' class="flex-container-column" class="flex-container-column" id="form">
    <label for="city"></label>
    <input type="text" name="city" placeholder="Munich" required >
    <button type="submit">SUBMIT</button>
  </form>
  <div class="flex-container-column" id="forecast-result">
    {{#if weather}}
      <h2>{{weather}}</h2>
      <h3>{{city}}</h3>
      <h4>{{tempK}}</h4>
    {{/if}}
    {{#unless weather}}
      <p>Enter a city name to find out the weather!</p>
    {{/unless}}
  </div>
</section>