<section class="o-grid-container" id="app-header">
  <div class="o-grid-row" data-o-grid-colspan="6 center">
    <h1 class="o-typography-headline" id="currently"><strong>Current.ly</strong></h1>
  </div>
</section>