<section class="o-grid-container--bleed" id="app-header">
  <div class="o-grid-row border grid-y-center" data-o-grid-colspan="S6 M4 center">
    <h1 class="o-typography-headline"><strong>Current.ly</strong></h1>
  </div>
</section>